<div class="container" *ngFor="let list of lists">
    <div class="card row" style="margin-top: 64px;">
        <div class="col-md-6">
            <button class="btn btn-danger" style="flex-direction: column; margin:5px"
                (click)="removeList(list.id)">X</button>
            <h2 class="card-title">{{list.title}}</h2>
            <div>
                <form novalidate (ngSubmit)="addTask(list.id)" [formGroup]="formGroup">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="task"
                            placeholder="Insira sua atividade">
                    </div>
                    <div class="alert alert-warning" role="alert"
                        *ngIf="formGroup.get('task')?.errors && (formGroup.get('task')?.touched || formGroup.get('task')?.dirty)">
                        Não é possível registrar tarefas vazias
                    </div>
                    <button class="btn btn-primary" style="flex-direction: column; margin:3px">Adicionar Tarefa
                    </button>
                </form>
            </div>
            <div class="card-body">
                <ul style="list-style: none;">
                    <li *ngFor="let item of listTasks">
                        <div *ngIf="item.listId == list.id">
                            <span style="font-size: 24px;">{{item.title}}</span> <br>
                            <button type="button" class="btn btn-success" style="margin:3px"
                                (click)="markAsDone(item.id)">Concluir
                            </button>
                            <button type="button" class="btn btn-danger" style="margin:3px"
                                (click)="removeTask(item.id)">Deletar
                            </button>
                            <button type="button" class="btn btn-primary" style="margin:3px" data-toggle="modal"
                                data-target="#updateModal" (click)="updateTask(item)">Editar
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">{{dtoHelper?.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="saveUpdate()" novalidate [formGroup]="formGroup">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="task"
                            placeholder="Ex: Coisas da Faculdade">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveUpdate()">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>